.admin-homepage-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .election-details-container {
    margin-bottom: 20px;
  }
  
  .end-election-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .end-election-btn:hover {
    background-color: #0056b3;
  }
  

  .center-class{
    text-align: center;
  }