.register-election-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.register-election-form {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 20px;
}

.register-button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

.add-candidate-button {
    background-color: #28a745; 
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    margin-bottom:10px;
    margin-right:5px;
    width: min-content;
}

.register-button {
    background-color: #007bff; 
    color: white;
}

.add-candidate-button:hover {
    background-color: #218838; 
}

.register-button:hover {
    background-color: #0056b3; 
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.candidate-row {
    display: flex;
    justify-content: space-between;
}

.candidate-row .form-input {
    flex: 1;
    margin-right: 10px;
}

.candidate-row .form-input:last-child {
    margin-right: 0;
}

.remove-candidate-button {
    width: min-content;
    box-sizing: border-box;
    padding: 10px;
    background-color: #dc3545; /* Red color */
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
}

.remove-candidate-button:hover {
    background-color: #c82333; /* Darker red color on hover */
}

.remove-candidate-button:disabled {
    background-color: #f8d7da; /* Light red color */
    color: #721c24; /* Dark red color */
    cursor: not-allowed;
}